<launch>
    <param name="num_locks" value="2" />
    <param name="buffer_size" value="2" />
    <param name="retry_interval" value="10" />
    <param name="max_retries" value="10" />

    <node pkg="paxos_essential" type="lock_client.py" name="lock_client_0" output="screen" />
    <node pkg="paxos_essential" type="lock_client.py" name="lock_client_1" output="screen" />
</launch>