<launch>
    <param name="majority" value="3" />
    <param name="num_locks" value="2" />

    <node pkg="paxos_essential" type="lock_server.py" name="lock_server_0" output="screen" args="--leader" />
    <node pkg="paxos_essential" type="lock_server.py" name="lock_server_1" output="screen" />
    <node pkg="paxos_essential" type="lock_server.py" name="lock_server_2" output="screen" />
    <node pkg="paxos_essential" type="lock_server.py" name="lock_server_3" output="screen" />
    <node pkg="paxos_essential" type="lock_server.py" name="lock_server_4" output="screen" />
</launch>